# Visual Studio 2015/2017 cache/options directory
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Bb]uild/
[Dd]ist/ 
[Ll]ogs/ 

.env/
obj/

*.7z
*.zip
*.psd
*.wav
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
