python-telegram-bot
google-genai
holidays
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
atlassian-python-api
attrs
audioop-lts
azure-ai-documentintelligence
azure-core
azure-identity
beautifulsoup4
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cobble
colorama
coloredlogs
cryptography
cssselect
defusedxml
Deprecated
distro
docstring_parser
docx2python
docx2txt
et_xmlfile
faiss-cpu
filelock
flatbuffers
frozenlist
fsspec
google-api-core
google-api-python-client
googleapis-common-protos
google-auth
google-auth-httplib2
google-auth-oauthlib
h11
hf_transfer
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
idna
inflate64
isodate
Jinja2
jiter
jmespath
joblib
lxml
magic-filter
magika
mammoth
markdownify
markitdown
MarkupSafe
mistletoe
mpmath
msal
msal-extensions
multidict
multivolumefile
networkx
numpy
oauthlib
odfpy
olefile
onnxruntime
openai
openpyxl
packaging
pandas
pandoc
paragraphs
pdf2image
pdfminer.six
pdfplumber
pillow
pip
plumbum
ply
pptx2md
propcache
protobuf
proto-plus
psutil
py7zr
pyasn1_modules
pyasn1
pybcj
pycparser
pycryptodomex
pydantic_core
pydantic
pydub
PyJWT
pyparsing
PyPDF2
pypdfium2
pyppmd
pyreadline3
pytesseract
python-dateutil
python-docx
python-dotenv
python-pptx
pytz
pywin32
PyYAML
pyzstd
RapidFuzz
rarfile
regex
requests
requests-oauthlib
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
soupsieve
SpeechRecognition
standard-aifc
standard-chunk
striprtf
sympy
telegramify-markdown
texttable
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
types-html5lib
types-lxml
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
wrapt
xlrd
xlsxwriter
yarl
youtube-transcript-api
